@using FediseerGui.Components;
@inherits LayoutComponentBase

<PageTitle>FediseerGui</PageTitle>

<CascadingValue Value="key">
    <CascadingValue Value="client">

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</CascadingValue>

@code {
    [Inject]
    public LocalStorage key { get; set; }

    [Inject]
    public Fediseer.FediseerClient client { get; set; }
}