@using FediseerGui.Components;
@inherits LayoutComponentBase

<PageTitle>FediseerGui</PageTitle>

<LocalStorage @ref=key>
    <CascadingValue Value="key">
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <LogonDisplay />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</LocalStorage>

@code {
    public LocalStorage key { get; set; }
}