<LogonComponent @ref=model OnLoggedIn="refresh" />
@if (storage.IsLoggedIn && !string.IsNullOrEmpty(storage?.InstanceDetails?.Domain))
{
    <text>Welcome, @storage.InstanceDetails.Domain    <Button Size=Size.ExtraSmall Color=Color.Secondary Clicked="Logout" Border="Border.Rounded.Is4">(Logout)</Button></text>
}
else
{
    <Button Clicked="Login" Color="Color.Primary">Login</Button>
}
@code {
    private LogonComponent model { get; set; }

    [CascadingParameter]
    public LocalStorage storage { get; set; }

    private async Task Login()
    {
        await model.ShowModal();
    }

    private async Task refresh()
    {
        StateHasChanged();
    }

    private async Task Logout()
    {
        await storage.LogOut();
    }
}
